/**
 * Site header
 */
.site-header {
    border-top: 7px solid $blue_bright;
}

.site-title {
    margin: 1rem 0 0;
    padding: 2rem 0 0;
    font-size: 3rem;
    line-height: 1;
    font-weight: 100;
    text-align: center;

    a {
        color: #111;
    }
}

.site-tagline {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    color: $salmon;
}

.site-nav {
    display: flex;
    justify-content: center;

    .page-link {
        color: $text-color;
    }
}



/**
 * Site footer
 */
.site-footer {
    background: $blue;
    padding: $spacing-unit 0;
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $salmon;
    font-weight: 100;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit / 2;
}

.post-title {
    line-height: 1.2;
}

.post-content {
    margin-bottom: $spacing-unit;
}
